body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contenedor-principal {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #444;
}

.contenido {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

input, button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.modal {
  display: none;
  position: fixed;
  background-color: white;
  border: 2px solid #333;
  padding: 20px;
  top: 30%;
  left: 30%;
  z-index: 1000;
}
